/* Default setup */
:root {
  --primary: #ff5959;
  --secondary: #ffeeee;
  --background-1: #edf5f6;
  --background-2: #ffeeee;
  --background-3: #fff4d6;
  --text-color: #ffffff;
  --text-color2: #858585;
  --ammount-bg: #fafafa;
  --input-color: #dadada;
  --news-latter: #D9D9D9;
  --footer-bg: #0B0D17;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Open sans";
  font-style: normal;
  background-color: var(--text-color);
}
.btn-primary {
  margin-top: 40px;
  padding: 20px 15px;
  border-radius: 5px;
  border: 0;
  background-color: var(--primary);
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
}
/* header/hero */
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(169, 169, 169, 0.5), rgb(0, 0, 0, 0.8)),
    url("../images/donation13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero {
  width: 60%;
  text-align: center;
  color: var(--text-color);
}
.hero-title {
  font-size: 5em;
  margin-bottom: 30px;
}
.hero-description,
.section-description {
  font-size: 1.5em;
  line-height: 40px;
}
/* section */
main {
  margin: 0 250px;
}
section {
  margin-top: 170px;
}
.donate-ammount,.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 4em;
  margin-bottom: 30px;
}
.section-description {
  color: var(--text-color2);
}
.ammount {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 40px;
}
.ammount p {
  background-color: var(--ammount-bg);
  padding: 50px 25px;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--text-color2);
  border-radius: 10px;
  border: 3px solid transparent;
  transition: 0.3s all ease-in;
}
.ammount p:hover,
.ammount p.active {
  border: 3px solid var(--primary);
  color: var(--primary);
  background-color: var(--background-2);
}
.donate-ammount input {
  width: 78%;
  border: 0;
  border-bottom: 2px solid var(--input-color);
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  font-size: 1.8em;
}
.donate-ammount input::placeholder {
  line-height: 90px;
  color: var(--input-color);
}
.donate-ammount input:focus {
  outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* donate-plane */
.donate-plane {
    text-align: center;
}
.donate-plane .plan-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    gap: 30px;
}
.plan-container {
    margin-top: 60px;
    margin-bottom: 70px;
}
.bg-1{
    background-color: var(--background-1);
}
.bg-2{
    background-color: var(--background-2);
}
.bg-3{
    background-color: var(--background-3);
}
.donate-plane .plan-container .plan {
    padding: 30px;
    border-radius: 5px;
}
.plan .section-description {
    line-height: unset;
    margin-top: 30px;
}
.plan .plan-title {
    font-size: 2em;
}
.plan img {
    margin-bottom: 30px;
    margin-top: 30px;
}
/* blog */
.blog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.blog img {
    height: 600px;
    width: 650px;
    border-radius: 10px;
    object-fit: cover;
}
.blog .section-description{
    margin-top: 20px;
}
/* newslatter */
.newslatter {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.subscribe {
    background-color: var(--background-3);
    padding: 100px 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 200px;
}
.newslatter input {
    height: 60px;
    width: 40%;
    border-radius: 10px;
    border: 0;
    padding-left: 20px;
    background-color: var(--news-latter);
    font-size: 1em;
    color: var(--text-color2);
    font-weight: 700;
}
.newslatter input:focus {
    outline: 0;
}
.newslatter input[type="submit"] {
    width: 15%;
    padding-left: unset;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--primary);
    margin-left: -200px;
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
/* footer */
footer {
    text-align: center;
    padding: 45px 50px;
    background-color: var(--footer-bg);
    color: var(--text-color);
}
.footer-title {
    font-family: Lobster;
    color: var(--primary);
    font-size: 2.2em;
    line-height: 70px;
    margin-bottom: 20px;
    font-weight: 300;
}